# Credenciales de Google OAuth2.0
CLIENT_ID=1066485650154-mtbntekvgvhld8m9qs0s7v1mh0bjhofl.apps.googleusercontent.com
CLIENT_SECRET=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
REDIRECT_URL=/user/google_login/

# API de google maps
API_MAPS=AIzaSyDtBaoycJUFotKPqwOeBcDzLBkp_e2DmJY

# Configuración de la base de datos
DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=express-sale-bd

# Configuración de PayU para pruebas
PAYU_REQUEST_URI=https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/
PAYU_API_KEY=4Vj8eK4rloUd272L48hsrarnUA
PAYU_MERCHANT_ID=508029
PAYU_ACCOUNT_ID=512321
PAYU_TEST_MODE=1
